<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appkite.jordiguzman.com.astronomyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_galaxy"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_galaxy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.maps.API_OPTIONS"
            android:value="B3H9HE845CFHYG" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".mainUi.MainActivityApp"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".apod.ui.ApodActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".mainUi.MainActivityApp" />
        <activity
            android:name=".planets.ui.SolarSystemActivity"
            android:parentActivityName=".mainUi.MainActivityApp" />
        <activity android:name=".iss.ui.AstronautsActivity" />
        <activity
            android:name=".iss.ui.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".earth.ui.EarthActivity" />
        <activity android:name=".hubble.ui.HubbleActivity" />
        <activity
            android:name=".mainUi.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".apod.ui.ApodDetailActivity"
            android:launchMode="singleTask" />
        <activity android:name=".apod.ui.ImageApodActivity" />


        <activity android:name=".planets.ui.SolarSystemDetailActivity" />
        <activity android:name=".hubble.ui.HubbleDetailActivity" />

        <receiver android:name=".widget.WidgetAstronomyApp">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_astronomy_app_info" />
        </receiver>

        <activity android:name=".widget.WidgetActivity" />
        <activity android:name=".earth.ui.EarthDetailActivity" />
        <activity android:name=".apod.ui.FavoritesApodActivity" />
        <activity android:name=".apod.ui.FavoritesApodDetailActivity" />
        <activity android:name=".earth.ui.ImageActivityEarth" />
        <activity android:name=".iss.ui.WebCamActivity" />
        <activity android:name=".hubble.ui.ImageHubbleActivity" />
        <activity android:name=".hubble.ui.FavoritesHubbleActivity" />
        <activity android:name=".hubble.ui.FavoritesHubbleDetailActivity" />
        <activity android:name=".planets.ui.ImageSolarSystemActivity"/>
    </application>

</manifest>